---
import artkev1 from '/artkev1.jpg';
import artkev2 from '/artkev2.jpg';
import artkev3 from '/artkev3.png';
import artkev4 from '/artkev4.jpg';
import art1 from '/art1.jpg';
import art2 from '/art2.jpg';
import art3 from '/art3.jpg';
import art4 from '/art4.jpg';
---

<div class="mx-12">
    <h1 class="my-24 text-center text-xl">Latest Art Pieces</h1>
    <div class="grid grid-cols-1 gap-24 xl:mx-48 xl:grid-cols-2">
        <div class="relative group">
            <img class="relative rounded-md w-full z-10 transition-all group-hover:-translate-x-3 group-hover:-translate-y-3" src={art1} alt="Painting">
            <div class="absolute rounded-md left-0 top-0 w-full h-full bg-black"></div>
        </div>
        <div class="relative group">
            <img class="relative rounded-md w-full z-10 transition-all group-hover:-translate-x-3 group-hover:-translate-y-3" src={art2} alt="Painting">
            <div class="absolute rounded-md left-0 top-0 w-full h-full bg-black"></div>
        </div>
        <div class="relative group">
            <img class="relative rounded-md w-full z-10 transition-all group-hover:-translate-x-3 group-hover:-translate-y-3" src={art3} alt="Painting">
            <div class="absolute rounded-md left-0 top-0 w-full h-full bg-black"></div>
        </div>
        <div class="relative group">
            <img class=" relative rounded-md w-full z-10 transition-all group-hover:-translate-x-3 group-hover:-translate-y-3" src={art4} alt="Painting">
            <div class="absolute rounded-md left-0 top-0 w-full h-full bg-black"></div>
        </div>
    </div>

</div>