---
const {title} = Astro.props
console.log(title)
import Nav from '../components/Nav';
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta title={title}/> 
</head>
<body>
    <main>
        <Nav client:load/>
        <slot></slot>
        <!-- All the different pages to be rendered -->
    </main>
</body>
</html>